
<div class="container">
  <div class="table-responsive">
    <div class="col-md-4">
      <h4>Abfragen von "{{currentUserFullName}}"</h4>
      <div  class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-filter" ></i></span>
        <input id="tableFilterString" type="text" class="form-control" onkeyup="filterTable('myQueriesTable',0)" placeholder="Abfragen filtern...">
      </div>

      <table class="table table-condensed table-hover" id ="myQueriesTable"> 

          <tr *ngFor="let entry of queries">
              
                <td *ngIf="!entry.value.TargetElementKey">
                  <i class="glyphicon glyphicon-folder-open" style="margin-right: 10px;color:lightslategray"></i>
                  {{entry.value.EntryName}}
                </td>
            
              <td *ngIf="entry.value.TargetElementKey">
                <i class="glyphicon glyphicon-search" style="margin-left: 30px; color:darkseagreen"></i>
                <a (click)="runQuery(entry.value.TargetElementKey, entry.value.EntryName)" style="cursor: pointer; margin-left: 10px">
                  {{entry.value.EntryName}}</a>
              </td>
          </tr>
      </table>
  </div>

  <div class="col-md-8">

      <kt-search-result id="result"
        (redoSearch) = "redoSearch($event)"
        (downloadMasterFile) = "onDownloadMasterFile($event)"     
        [queryName] = "queryName"
        [queryResult] = "queryResult"
        [recordsFound] = "recordsFound"
        [pageSize] = "pageSize"
        [pageNumber] = "pageNumber"
        [maxPageNumber] = "maxPageNumber">
      </kt-search-result>
  </div>

  </div>
</div>